.tabs-tab {
  text-transform: uppercase;
  display: inline-block;
  margin: 8px 4px;
  padding: 4px;
  border-radius: 4px;
  color: var(--primary-color-71);
  cursor: pointer;
  &.active {
    color: var(--primary-color-55);
  }
  &:hover {
    color: var(--primary-color-86);
  }
}
