:root {
  --text-color-100: #202124;
  --text-color-86: #3c4043;
  --text-color-71: #5f6368;
  --text-color-55: #80868b;
  --text-color-43: #9aa0a6;
  --text-color-16: #dadce0;

  --primary-color-100: #002c3d;
  --primary-color-86: #244a58;
  --primary-color-71: #4a6975;
  --primary-color-55: #738b94;
  --primary-color-43: #91a4ac;
  --primary-color-16: #d6dde0;

  --secondary-color: #009fb9;
  --highlight-color: #fa7f70;

  --background-color: #ffffff;
  --surface-color: #f0f4f5;
}
