@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Shadows+Into+Light&display=swap");
@import "./color.scss";

@mixin text-title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 82px;
  line-height: 90px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 36px;
}

@mixin text-heading-2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}

@mixin text-heading-3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 52px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}

@mixin text-heading-4 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}

@mixin text-heading-5 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}
.text-heading-5 {
  @include text-heading-5;
}

@mixin text-heading-6 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}
.text-heading-6 {
  @include text-heading-6;
}

@mixin text-caption {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: var(--text-color-71);
  margin: 0;
}
.text-caption {
  @include text-caption;
}
@mixin text-body {
  font-family: "IBM Plex Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color-86);
  margin: 0;
  margin-bottom: 16px;
}

@mixin text-link {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 16px;
  color: var(--highlight-color);
}
