@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@import "./color.scss";

@mixin text-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}

@mixin text-heading-2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}

@mixin text-heading-3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 52px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}

@mixin text-heading-4 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}

@mixin text-heading-5 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}

@mixin text-heading-6 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  color: var(--primary-color-100);
  margin: 0;
  margin-bottom: 16px;
}

@mixin text-caption {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: var(--text-color-71);
  margin: 0;
}
.text-caption {
  @include text-caption;
}
@mixin text-body {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-86);
  margin: 0;
  margin-bottom: 16px;
}
