.home {
  max-width: 1440px;
  width: 1440px;
  padding: 0 36px;
  margin: auto;
}
.home-hero {
  height: calc(100vh - 82px);
  display: flex;
  flex-direction: column;
}
.home-intro {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}
.home-intro-text {
  p {
    max-width: 485px;
  }
}
.home-design,
.home-plus {
  font-family: "Shadows Into Light", cursive;
  color: var(--secondary-color);
}
.home-plus {
  color: var(--highlight-color);
}
.home-intro-project {
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  a,
  img {
    height: calc(100vh - 100px);
  }
}
.home-intro-project-text {
  p {
    max-width: 240px;
  }
}
