.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0;
  .card-content {
    h3 {
      margin-left: -56px;
      margin-bottom: 8px;
    }
  }
  .card-image {
    margin: 0 32px 0 0;
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    .card-content {
      text-align: end;
      h3 {
        margin-left: 0;
        margin-right: -56px;
      }
    }
    .card-image {
      margin: 0 0 0 32px;
    }
  }
}

.card-image {
  // padding: 48px;
  // background-color: #eaeffa;
  // width: 60vw;
  // height: 30vw;
  max-width: 960px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  img {
    // filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    width: 100%;
  }
}
