.action-bar {
  width: 100%;
  border-top: solid 8px var(--secondary-color);
  &::after {
    content: "";
    width: 24px;
    height: 400px;
    display: block;
    position: absolute;
    background-color: var(--highlight-color);
    bottom: -200px;
  }
}
.action-bar-header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 16px 36px;
}
.action-bar-logo {
  margin: 0;
  img {
    height: 50px;
  }
}
