.action-bar {
  width: 100%;
  border-top: solid 8px var(--secondary-color);
}
.action-bar-header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 16px 36px;
}
.action-bar-logo {
  height: 50px;
}
