.card-grid {
  margin: 0 100px;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 48px;
  .card-content {
    max-width: 300px;
    h3 {
      margin-left: -56px;
      margin-bottom: 8px;
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    .card-content {
      text-align: end;
      h3 {
        margin-left: 0;
        margin-right: -56px;
      }
    }
  }
}

.card-image {
  padding: 48px;
  background-color: #eaeffa;
  margin: 0 32px;
  width: 60vw;
  height: 30vw;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  img {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    height: 100%;
  }
}
